table{
    border-collapse: collapse;
}
th, td{
    padding: 5px;
}
th{
    width: 120px;
}
#view #pageZone #searchZone{
    text-align: center;
}

#view #imageZone, img{
    text-align: right;
}

#view{
    width: 400px;
}

span{
    margin: 10px;
}

.currentPaging{
    color: orange;
    text-decoration:none;
}
.why:hover{
    text-decoration: underline;
    color: green;
}

.why{
    text-decoration: none;
    color: black;
}

.ths{
    background-color: mistyrose;
    

}